*
{
    margin: 0px;
    padding: 0px;
}

.a
{  width:100% ;
    background-color: rgba(137, 43, 226, 0.454);
    display: flex;

    justify-content: space-between;
    line-height: 50px;
   position: fixed;
   top:0;
}
.b
{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    font-size: 25px;
    color: white;
}
.t
{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}
ul
{
display: flex;
width: 40%;
justify-content: space-around;
color: white;

}
li
{
    list-style-type: none;

}
li a
{
    text-decoration: none;
}
.xa
{
   color: white;
    text-decoration: none;
}
.title
{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: aqua;
margin-top: 50px;
}
.boot
{
    margin-top: 10px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.intro
{
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 10px;
}
.c
{
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.d
{
    margin-bottom: 15px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.e
{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
justify-content: space-evenly;
}
.g
{
display: flex;

flex-direction: column;
justify-content: center;
align-items: center;
background-color: rgba(20, 204, 20, 0.671);
line-height: 40px;
margin-top: 70px;
color: white;
}
.y
{
    display: flex;
    justify-content: space-evenly;
}
.h
{
    padding: 10px;
    font-size: 30px;
}
.l
{
    border: 2px solid white ;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 4px;
    cursor: pointer;
    
}
.l:hover
{
    background-color: aqua;
}
.l:active
{
    border: 1px solid red;
    background-color: purple;
}
.m
{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    margin: 20px;
    line-height: 30px;
}
.k
{
    font-size: 20px;
}
#kl
{
    border: 1px solid blue;
    padding: 5px;
    border-radius: 2px;
    background-color: aqua;
    color:white;
    cursor: pointer;
}
#kl:hover
{
  background-color: black;  
}
#kl:active
{
    border: 1px solid red;
    background-color: blueviolet;
}
.o
{
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.477);
    align-items: center;
    height: 100px;
}

.jk
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.kgf
{
    display: flex;
    width: 200px;
    
}
.nk
{
    color: black;
}
 a:hover:not(.op)
{
    background-color: rgb(42, 165, 73);
    border-radius: 4px;
    padding: 10px;
}

.op
{
     background-color: rgb(42, 165, 73);   
    
    border-radius: 4px;
    padding: 10px;
}

@media (max-width:807px)
{
    .a
    {
        flex-direction: column;
        
    }
}
@media (max-width:807px)
{
    .u
    {
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width:807px)
{
    .title
    {
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width:807px)
{
    .e
    {
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width:807px)
{
    .g
    {
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width:807px)
{
    .y
    {
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width:807px)
{
    .o
    {
        flex-direction: column;
        text-align: center;
    }
}
